<h1><%= @chat_room.title %></h1>

<div id="messages" data-chat-room="Best Room">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>