<h2>Профиль пользователя</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.fields_for :users_metadata do |f_users_metadata|%>
    <div class="form-group">
      <%= f_users_metadata.label :tinkoff_token, 'Тинькофф токен' %>
        
      <% if f_users_metadata.object.tinkoff_token.blank? %>
        <div class="alert alert-info" role="alert">
          Чтобы получить аналитику и отчет по инвестиционному портфелю необходимо зайти в свой профить Tincoff, 
          пройти по <a href='https://www.tinkoff.ru/invest/settings/' target="_blank">ссылке</a>, в разделе "Токен для OpenAPI"
          нажмите на кнопку "Токен для торговли", после повторной авторизации скопируйте полученный токен в поле, расположенное ниже.
        </div>
      <% end %>
        
      <%= f_users_metadata.text_field :tinkoff_token, class: 'form-control', placeholder: 'API ключ с сайта Tincoff ...' %>
    </div>
    <div class="form-group">
      <%= f_users_metadata.label :tinkoff_portfolio_id, 'ID инвестиционного портфеля', class: 'col-form-label' %>
      <%= f_users_metadata.text_field :tinkoff_portfolio_id, class: 'form-control', placeholder: 'ID инвестиционного портфеля Tincoff ...' %>
    </div>
  <% end %>
  <div class="form-group mt-2">
    <%= f.label :current_password, 'Текущий пароль' %> <i>(Введите чтобы подтвердить изменения)</i><br />
    <%= f.password_field :current_password, autocomplete: "Текущий пароль", class: 'form-control' %>
  <div>
  <div class="form-group mt-2">
    <%= f.submit "Обновить", class: 'btn btn-primary' %>
  </div>
<% end %>