<div class="card">
  <div class="mt-2">
    <h5 class="mb-0">
      <%= link_to "Список операций с брокерским счетом", report_operations_path(@report, format: :js), remote: true, class: "btn btn-link", role: "button", "aria-expanded" => "false", "aria-controls" => "collapseOperationsHistory", "data-bs-toggle" => "collapse"  %>
      <%= link_to "Скрыть", "#", remote: false, class: "btn btn-link", role: "button", "aria-expanded" => "false", "aria-controls" => "collapseOperationsHistory", "data-bs-toggle" => "collapse", onclick: "$('#collapseOperationsHistory').hide()" %>
    </h5>
  </div>
  <div class="card-body">
    <div class="collapse" id="collapseOperationsHistory">
      <%= render 'reports/operations/table', operations: operations %>
      <div id="report_operations_paginate">
      </div>
    </div>
  </div>
</div>