<%
  klass = ''
%>

<tr class=<%= klass %>>
  <td>
    <%= t("report.operations.#{operation.operation_type}", :locale => :ru) %>
  </td>
  <td>
    <%= operation.date.strftime("%d-%m-%Y %H:%M") %>
  </td>
  <td>
    <%= t("report.instrument_type.#{operation.instrument_type}", :locale => :ru) if operation.instrument_type.present? %>
  </td>
  <td>
    <%= operation.payment %> <%= t("report.currencies.#{operation.currency}", :locale => :ru) %>
  </td>
</tr>
