  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Операция</th>
        <th scope="col">Дата</th>
        <th scope="col">Тип</th>
        <th scope="col">Стоимость</th>
      </tr>
    </thead>
    <tbody id="report_operations_table_body">
      <%= render 'reports/operations/operation_rows', operations: [] %>
    </tbody>
  </table>