$('#report_operations_table_body').html("<%=j render 'reports/operations/operation_rows', operations: @operations %>");
$('#report_operations_paginate').html("<%=j render 'reports/operations/paginator', operations: @operations %>");
$('#collapseOperationsHistory').show()