<%= form_with model: [post, Comment.new] do |f| %>
  <%= f.text_area :text, class: 'form-control mt-2', placeholder: 'Комментарий', rows: '3' %>
  <%= f.submit 'Отправить', class: 'btn btn-primary btn mt-2' %>
<% end %>