<div class="btn-group" role="group" aria-label="Basic example" data-stats-for-post=<%= id %>>
  <%= render 'layouts/statistics/likes', count: likes_count %>
  <%= render 'layouts/statistics/views', count: views_count%>
  <%= render 'layouts/statistics/comments', count: comments_count %>
</div>
