<div class="card mt-2">
  <%= hidden_field_tag :post_id, post.id %>
    <div class="d-flex justify-content-end">
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <%= link_to 'Просмотр', post_path(post), class: 'btn btn-primary'%>
          <% if current_user.id == post.user.id %>
            <button type="button" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          <% end %>
      </div>
    </div>
  <div class="card-body">
    <h5 class="card-title">
      <%= post.title %>  
    </h5>
    <p class="card-text">
      <%= post.body %>
    </p>
    <%= render 'layouts/statistics/stats', likes_count: 0, views_count: 0, comments_count: post.comments.count, id: post.id %>
    <p class="card-text">
      <small class="text-muted">
        Последнее обновление поста <%= post.updated_at.strftime(('%H:%M:%S %d %B %Y')) %>
      </small>
    </p>
  </div>
</div>