<div class="container">
  <%= form_for @post do |f| %>
    <div class="row justify-content-md-center">
      <%= f.label :title, 'Заголовок' %>
      <%= f.text_field :title, class: 'form-control mt-2' %>
    </div>
    <br>

    <div class="row">
      <%= f.label :annotation, 'Аннотация' %>
      <%= f.text_area :annotation, class: 'form-control mt-2',  rows: '2' %>
    </div>
    <br>

    <div class="row">
      <%= f.label :keywords, 'Ключевые слова' %>
      <%= f.text_field :keywords, class: 'form-control mt-2' %>
    </div>
    <br>

    <div class="row">
      <%= f.label :introduction, 'Введение' %>
      <%= f.text_area :introduction, class: 'form-control mt-2',  rows: '3' %>
    </div>
    <br>

    <div class="row">
      <%= f.label :literature_review, 'Обзор литературы' %>
      <%= f.text_area :literature_review, class: 'form-control mt-2',  rows: '2' %>
    </div>
    <br>

    <div class="row">
      <%= f.label :main_part, 'Основная часть (методология, результаты)' %>
      <%= f.text_area :main_part, class: 'form-control mt-2',  rows: '6' %>
    </div>

    <div class="row">
      <%= f.label :conclusions, 'Выводы и дальнейшие перспективы исследования',  rows: '3' %>
      <%= f.text_area :conclusions, class: 'form-control mt-2' %>
    </div>
    <br>

    <div class="row ">
      <%= f.label :bibliography, 'Список литературы' %>
      <%= f.text_field :bibliography, class: 'form-control mt-2' %>
    </div>
    <br>
    <div class="row">
      <div class="form-group d-flex justify-content-end">
        <div class="btn-group">
          <%= link_to 'Назад', post_path(@post), class: 'btn btn-primary mt-2'%>
          <%= f.submit 'Сохранить', class: 'btn btn-primary mt-2' %>
        </div>
      </div>
    </div>
  <% end %>
</div>