<% if @posts.blank? && params[:my] == 'true' %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Похоже что вы еще не создали ни одного поста...</h5>
      <p class="card-text">
        Перейдите в <%= link_to 'ленту', posts_path(), class: '', 'aria-current' => "page"%> или <%= link_to 'добавьте новый пост', new_post_path(), class: '', 'aria-current' => "page"%>
      </p>
    </div>
  </div>
<% elsif @posts.present? %>
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>

  <%= paginate @posts %>
<% else %>
  <h2>Лента пуста</h2>
<% end %>
