<div class="container">
  <div class="row justify-content-md-center">
    <h2>
      <%= @post.title %>
    </h2>
  </div>
  <div class="row">
    <p>
      <i>
        <%= @post.annotation %>
      </i>
    </p>
    
    <% if @post.keywords.present? %>
      <p>
      Ключевые слова:
      </p>
      </p>
        <b>
          <%= @post.keywords.join(', ') %>
        </b>
      </p>
    <% end %>
    <br>
    <p>
      <%= @post.introduction %>
    </p>
    <br>
    <p>
      <%= @post.literature_review %>
    </p>
    <p>
      <%= @post.main_part %>
    </p>
    <br>
    <hr>
    <p>
      <%= @post.conclusions %>
    </p>
    <br>
    
    <% if @post.bibliography.present? %>
      <p>
        Список литературы
        <ul>
          <% @post.bibliography.each do |source| %>
            <li>
              <%= source %>
            </li>
          <% end %>
        </ul>
      </p>
    <% end %>
  </div>
  <div class="d-flex justify-content-end">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <% if @post.user_id == current_user.id %>
        <%= link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-primary'%>
        <%= link_to 'Удалить', post_path(@post), method: :delete, class: 'btn btn-danger'%>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <%= render 'layouts/statistics/stats', likes_count: 0, views_count: 0, comments_count: @post.comments.count, id: @post.id %>
  </div>
  <hr>
  <h5>Комментарии к посту</h5>
  <div class="row comments">
    <div class="" id="collapseComments">
      <ul class="list-group">
        <div data-post-id="<%= @post.id %>">
          <% @post.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, post: @post %>
          <% end %>
        </div>
        <li class="list-group-item">
          <div>
            <%= render 'comments/new', post: @post %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>