<div id='report_uploader'>
  <div class="alert alert-info" role="alert">
    Для формирования отчета необходимо выгрузить информацию о вашем брокерском счете. Для этого перейдите на сайт Tinkoff, выберите нужный счет и выполните импорт данных.
  </div>
  <div class="input-group mb-3">
    <%= f.label :type, 'Выгрузка из Tinkoff', class: 'col-sm-2 col-form-label' %>
    <div class="custom-file">
      <%= f.file_field :broker_report, class: "custom-file-input" %>
    </div>
  </div>
</div>