<div class="form-group mb-2">
  <%= f.label :start_date, 'Отчет с ', class: 'col-sm-2 col-form-label' %>
  <%= f.date_select :start_date %>
</div>
<div class="form-group mb-2">
  <%= f.label :end_date, 'Отчет по ', class: 'col-sm-2 col-form-label' %>
  <%= f.date_select :end_date %>
</div>