<%
  klass = case report.status
  when Report::Statuses::FINISHED_WITH_ERROR
    'table-danger'
  when Report::Statuses::FINISHED_SUCCESS
    'table-success'
  when Report::Statuses::RUNNING
    'table-active'
  else
    'table-default'
  end
%>

<tr class=<%= klass %>>
  <td>
    <%= t("report.types.#{report.report_type}") %>
  </td>
  <td>
    <%= report.created_at.strftime("%d %B %Y %I:%M%p") %>
  </td>
  <td>
    <%= t("report.statuses.#{report.status}") %>
  </td>
  <td>
    <% case report.status %>
    <% when Report::Statuses::FINISHED_WITH_ERROR %>
      <button type="button" class="btn btn-primary">Повторить</button>
      <%= link_to "Удалить", report, remote: true, method: :delete, class: "btn btn-danger" %>
    <% when Report::Statuses::FINISHED_SUCCESS %>
      <%= link_to "Открыть", report, remote: false, method: :get, class: "btn btn-primary" %>
      <%= link_to "Удалить", report, remote: true, method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Отменить", report, remote: true, method: :delete, class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>