<div class="card">
  <div class="card-body">
    <h5 class="card-title">Отчеты</h5>
    <p class="card-text">
      Найдено <%= @reports.count %> отчетов, сформировать <a href=<%= new_report_path %> class="card-link">новый отчет</a> 
    </p>
  </div>
</div>
<% if @reports.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Тип</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Статус</th>
        <th scope="col">действия</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <%= render 'report', report: report %>
      <% end %>
    </tbody>
  </table>
<% end %>