<%= form_for @report, class: 'form-inline' do |f| %>
  <div class="form-group mb-2">
    <div class="input-group mb-3">
      <%= f.label :type, 'Тип отчета', class: 'col-sm-2 col-form-label' %>
      <%= select_tag 'report[report_type]', 
                    options_for_select(report_options),
                    multiple: false, class: 'form-control'
      %>
      <%= f.hidden_field :status %>
    </div>
    <%#= render 'broker_report_uploader', f: f %>
    <%= render '/reports/period', f: f %>

  </div>
  <%= f.submit 'Сформировать', class: 'btn btn-primary' %>
<% end %>
