<div class="container">
  <div class="row">
    <h1>Аналитика отчета  "<%= t("report.types.#{@report.report_type}") %>"</h1>
  </div>

  <div class="row mt-4">
    <p>
      Отчет по брокерскому счету за период с <%= @report.start_date_s %> по <%= @report.end_date_s %> 
    </p>
  </div>

  <div class="row mt-4">
    <%= render 'reports/operations/index', operations: [] %>
  <div>
</div>