<div class="card" style="width: 18rem;">
  <img class="card-img-top img-thumbnail" src="https://i.pravatar.cc/300" alt="Card image cap" width='100' height='100'>
  <div class="card-body">
    <h5 class="card-title">        
      <%= current_user.name %>
    </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to 'Мои профиль', edit_user_registration_path(my: true), class: 'nav-link active', 'aria-current' => "page"%>
    </li>
    <li class="list-group-item">
      <%= link_to 'Мои посты', posts_path(my: true), class: 'nav-link active', 'aria-current' => "page"%>
    </li>
    <li class="list-group-item">
      <%= link_to 'Мои отчеты', reports_path, class: 'nav-link active', 'aria-current' => "page"%>
    </li>
    <li class="list-group-item">
      <%= link_to 'Лента', posts_path(), class: 'nav-link active', 'aria-current' => "page"%>
    </li>
    <li class="list-group-item">
      <%= link_to 'Чаты', chat_rooms_path, class: 'nav-link active', 'aria-current' => "page"%>
    </li>
  </ul>
</div>