<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between mb-2">
  <div class="container">
    <%= link_to 'Cool app', '/', class: 'navbar-brand'%>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>

    <div class="collapse navbar-collapse d-flex justify-content-end">
    <% if user_signed_in? %>
      <span>
        <%= current_user.name %>
      </span>
      <%= link_to 'Выход', destroy_user_session_path, remote: false, method: :delete, class: 'nav-link active' %>
    <% else %>
      <%= link_to 'Вход', new_user_session_path, class: 'nav-link active' %>
    <% end %>
    </div>
  </div>
</nav>