<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class='col-xl'>
          <% if notice %>
            <div class="alert alert-success" role="alert">
              <%= notice %>
            </div>  
          <% end %>
          
          <% if alert %>
            <div class="alert alert-warning" role="alert">
              <%= alert %>
            </div>     
          <% end %> 

          <% if flash[:success] %>
            <div class="alert alert-success">
              <%= flash[:success] %>
            </div>  
          <% end %>

          <% if flash[:warning] %>
            <div class="alert alert-warning">
              <%= flash[:warning] %>
            </div>  
          <% end %>
          <div class="row">
            <% if current_user.present? %>
              <div class="col-4">
                <%= render 'layouts/menu' %>
              </div>
            <% end %>
            <div class="col-<%= current_user.present? ? '8' : '12' %>">
              <%= yield %>
            </div>
          </div>
      </div>
    </div>
    <div class="alerts">

    </div>
  </body>
</html>
